*{margin: 0; padding: 0; box-sizing:border-box;}
html{height: 100%;
  font-size: 20px;}
body{height: 100%; 
  font-family: "GmaketSans_M";
  font-size: 1rem;
  /* overflow: hidden; */
}
/* html,body{
max-width: 100%;
overflow-x: hidden;} */
ul{list-style: none !important;}
a{text-decoration: none !important; color: inherit !important;}
button{color: #2b2b2b !important;}

.clearfix{
  content:"";
  display: block;
  clear: both;
}
@font-face{
font-family: "GmarketSans_B";
src:url(../font/GmarketSansTTFBold.ttf)format('truetype');}
@font-face{
font-family: "GmarketSans_M";
src:url(../font/GmarketSansTTFMedium.ttf)format('truetype');}
@font-face{
font-family: "Montserrat-Bold";
src:url(../font/Montserrat-Bold.ttf)format('truetype');}
@font-face{
font-family: "Gloss_And_Bloom";
src:url(../font/Gloss_And_Bloom.ttf)format('truetype');}
@font-face{
    font-family: "SpoqaHanSansNeo_R";
    src:url(../font/SpoqaHanSansNeo-Regular.ttf)format('truetype');}
    
@media screen and (max-width: 980px) {
  html{font-size: 18px !important;}}
@media screen and (max-width: 768px) {

  html{font-size: 16px !important;}}

 @media screen and (max-width: 480px) {
    html{font-size: 14px !important;}}